---
import Layout from '../components/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
---
<Layout title="Contact">
  <section class="container mx-auto py-12 lg:flex lg:space-x-12">
    <div class="lg:w-1/2 prose lg:prose-xl">
      <h1>Contact & Coordonnées</h1>
      <p>Remplissez le formulaire ci‑contre pour toute demande de renseignements, essai ou commande.</p>
      <ul>
        <li><strong>Email :</strong> info@erreplus.ch (placeholder)</li>
        <li><strong>Téléphone :</strong> +41 00 000 00 00 (placeholder)</li>
        <li><strong>Facebook :</strong> <a href="https://facebook.com/ErreplusSuisseRomande">erreplus.suisse.romande</a></li>
      </ul>
    </div>
    <div class="lg:w-1/2">
      <ContactForm />
    </div>
  </section>
</Layout>
