<nav class="bg-gray-100 p-4 shadow">
    <ul class="flex gap-6 justify-center">
      <li><a href="/" class="text-blue-600 font-semibold">Accueil</a></li>
      <li><a href="/services" class="text-blue-600 font-semibold">Services</a></li>
      <li><a href="/contact" class="text-blue-600 font-semibold">Contact</a></li>
    </ul>
  </nav>
  